<app-sidenav></app-sidenav>
    <div class="container-fluid1">
        <div class="first" routerLink="/employees">
            <h6>Total Employees</h6>
            <h4>10</h4>
        </div>
        <div class="second">
            <h6>New Employees</h6>
            <h4>3</h4>
        </div>
        <div class="third">
            <h6>Ex Employees</h6>
            <h4>5</h4>
        </div>
        <div class="fourth">
            <h6>Departments</h6>
            <h4>7</h4>
        </div>
    </div>
<ng-template>
    <router-outlet></router-outlet>
</ng-template>