<!-- footer -->
<!-- Remove the container if you want to extend the Footer to full width. -->

    <footer class="bg-dark text-white">
    <div class="p-1">
      <section>
        <!-- Facebook -->
        <a
          class="btn btn-dark btn-floating m-1"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-dark btn-floating m-1"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-dark btn-floating m-1"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-dark btn-floating m-1"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-dark btn-floating m-1"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-dark btn-floating m-1"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
        <!-- <div style="float: right; margin-right: 20px;"> -->
        <span style=" margin-left: 20px;">© 2022 Copyright:</span>
      <!-- </div> -->
      </section>
    </div>
  </footer>
    
